.article {
   background-color: $white;
   text-align: center;
   & p {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: $gray9;
      padding: 43px 0px;
   }
}
