.footer {
   height: 160px;
}

.social {
   &__icons {
      ul {
         display: flex;
         justify-content: center;

         li {
            font-size: 25px;
            margin: 52px 14px 0 14px;

            a {
               color: $darkGray;

               &:hover {
                  color: $nero;
                  transition: all 0.5s ease;
               }
            }
         }
      }
   }
}
