.home {
   &__cards {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 73px 0px;
      justify-content: space-evenly;
   }
}

.cards {
   &__item {
      width: 370px;
      margin-top: 25px;
      &:first-child {
         margin-top: 0px;
      }
   }
   &__nature {
      &--img {
         height: 240px;
      }
   }
   &__branding {
      &--img {
         height: 240px;
      }
   }
   &__cites {
      &--img {
         height: 370px;
      }
   }
   &__design {
      &--img {
         height: 240px;
      }
   }
}

.colum--one {
   .cards__item:nth-last-child(1) {
      .cards__nature--img {
         height: 370px;
      }
   }
}

.colum--three {
   .cards__item:first-child {
      margin-top: 25px;
   }
}

.cards__item {
   &--img {
      position: relative;
      background-color: $gainsboro;
   }

   &--info {
      padding: 24px 0px 30px 29px;
      background-color: $white;
   }
}
.img {
   &__button {
      position: absolute;
      bottom: 9px;
      left: 10px;
      background-color: $nero;
      & a {
         font-size: 12px;
         line-height: 30px;
         font-weight: 500;
         text-transform: uppercase;
         letter-spacing: 0.025em;
         padding: 0px 21px;
         color: $white;
      }
   }
}
.info {
   &__title {
      font-family: "Playfair Display";
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: 0.025em;
   }

   &__date {
      font-size: 12px;
      line-height: 24px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: $gray9;
      margin-top: 20px;
   }

   &__text {
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.005em;
      color: $zambezi;
      margin-top: 22px;
      padding-right: 30px;
   }
}
