@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e0e0e;
  font-size: inherit;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
  color: #0e0e0e;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #ffff;
}

.header .hamburger-menu input {
  display: none;
}

@media (max-width: 767px) {
  .header .hamburger-menu input {
    display: block;
  }
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.menu__item {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 43px 35px;
  text-transform: uppercase;
}

.menu__item a {
  color: #5f5f5f;
}

.menu__item a:hover {
  color: #0e0e0e;
}

.home__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 73px 0px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.cards__item {
  width: 370px;
  margin-top: 25px;
}

.cards__item:first-child {
  margin-top: 0px;
}

.cards__nature--img {
  height: 240px;
}

.cards__branding--img {
  height: 240px;
}

.cards__cites--img {
  height: 370px;
}

.cards__design--img {
  height: 240px;
}

.colum--one .cards__item:nth-last-child(1) .cards__nature--img {
  height: 370px;
}

.colum--three .cards__item:first-child {
  margin-top: 25px;
}

.cards__item--img {
  position: relative;
  background-color: #dfdfdf;
}

.cards__item--info {
  padding: 24px 0px 30px 29px;
  background-color: #ffff;
}

.img__button {
  position: absolute;
  bottom: 9px;
  left: 10px;
  background-color: #252525;
}

.img__button a {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 0px 21px;
  color: #ffff;
}

.info__title {
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.info__date {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #171717;
  margin-top: 20px;
}

.info__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #5f5f5f;
  margin-top: 22px;
  padding-right: 30px;
}

.article {
  background-color: #ffff;
  text-align: center;
}

.article p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #171717;
  padding: 43px 0px;
}

.footer {
  height: 160px;
}

.social__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__icons ul li {
  font-size: 25px;
  margin: 52px 14px 0 14px;
}

.social__icons ul li a {
  color: #999;
}

.social__icons ul li a:hover {
  color: #252525;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    height: 80px;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .header .hamburger-menu input {
    display: block;
  }
}

@media (max-width: 767px) {
  .menu__toggle {
    opacity: 0;
  }

  .menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  .menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .menu__toggle:checked ~ .menu__nav {
    visibility: visible;
    right: 0;
    text-align: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 35px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5f5f5f;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: -8px;
  }
}

@media (max-width: 767px) {
  .menu__nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -200px;
    width: 140px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #dfdfdf;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    z-index: 90;
  }

  .menu__nav .menu__item {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  .menu__nav .menu__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
  }
}

@media (max-width: 767px) {
  .home {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .cards__item {
    width: 340px;
  }
}

@media (max-width: 350px) {
  .cards__item {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .cards__nature--img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .cards__branding--img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .cards__cites--img {
    height: 340px;
  }
}

@media (max-width: 480px) {
  .cards__design--img {
    height: 200px;
  }
}

@media (max-width: 1100px) {
  .colum--three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
